<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Room</title>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.2/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.0.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 class="text-center">Chat Room</h2>

    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <div id="msg_history" class="msg_history">
                    <!-- Message content will be inserted here by JavaScript -->
                </div>
            </div>
        </div>

        <div class="type_msg">
            <div class="input_msg_write">
                <input id="msg_content" type="text" class="write_msg" placeholder="Type a message" />
                <button id="msg_send_btn" class="msg_send_btn" type="button">Send</button>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let ws = null;

        $(function () {
            ws = new WebSocket('ws://localhost:8080/ws/chat');

            ws.onmessage = function (data) {
                appendMessage(data.data);
            };

            ws.onerror = function(error) {
                console.log("Error:", error);
            }

            $('#msg_send_btn').click(function () {
                let msgContentInput = $('#msg_content');
                ws.send(msgContentInput.val());
                msgContentInput.val('');
            });
        });

        function appendMessage(msg) {
            $('#msg_history').append(
                $('<div>').addClass('incoming_msg').append(
                    $('<div>').addClass('received_msg').append(
                        $('<div>').addClass('received_withd_msg').append(
                            $('<p>').text(msg)
                        )
                    )
                )
            );
        }
        /*]]>*/
    </script>
</div>
</body>
</html>
